:root {
   --bs-body-bg-rgb: 33, 37, 41;
   --bs-primary-rgb: 13, 110, 253;
   --bd-accent-rgb: 255, 228, 132;
   --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
   --bd-pink-rgb: 214, 51, 132;
}

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   /* background:grey; */
   /* min-height: 100%; */
}

body {

   /* fallback for old browsers */
   /* background-color: #0093E9;
   /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */ 
   /* height: 100vh; */
   height: fit-content;
   color: white;
   font-family: Raleway;
   
   /* background: #FF512F;
   background: -webkit-linear-gradient(to right, #DD2476, #FF512F); */
   /* background: linear-gradient(to right, #DD2476, #FF512F); */
   /* Chrome 10-25, Safari 5.1-6 */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
   background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.h1 {
   font-size: 5rem;
}

.h-main {
   margin-top: 2rem;
   text-align: center;
   /* margin: auto; */
}

.product {}

nav {

   padding: 15px;
   display: flex;
   justify-content: space-between;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   align-items: center;
}

nav div {

   display: flex;
   justify-content: space-evenly;
   gap: 2rem;

}

.about {
   text-align: center;
}

a:hover {
   cursor: pointer;
}

footer {
   width: 100%;
}

footer p {
   font-size: 2rem;
   text-align: center;
   margin: auto;
}

.p {
   font-size: 2rem;
}

footer p span {
   text-transform: uppercase;
}
.products{
   display: grid;
   grid-template-columns:repeat(3, 400px);
   grid-template-rows:repeat(3,auto) ;
   align-items: center;
   justify-content: center;
   /* grid-template-; */
}
.product{
   display: flex;
   flex-direction: column;
   align-items: center;
  border-radius: 10px;
/* max-width: 200px; */
}
.product:hover{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
img{
   width: 100%;
   max-width: 200px;
   height: 200px;
   /* max-height: 100px; */
   /* max-width: 50%; */
   /* width: 100%; */
}